flight.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="wscalc1" targetNamespace="http://127.0.0.1:8000/wsdl" 
	xmlns="http://127.0.0.1:8000/wsdl" 
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema xmlns="http://www.w3.org/2000/10/XMLSchema">

			<xs:complexType name="airline">
				<xs:all>
					<xs:element name="name" type="xsd:string"/>
					<xs:element name="icon" type="xsd:string"/>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="departure">
				<xs:all>
					<xs:element name="airline" type="xsd:airline"/>
					<xs:element name="arrival_date" type="xsd:date"/>
					<xs:element name="departure_date" type="xsd:date"/>
					<xs:element name="travel_time" type="xsd:string"/>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="fares">
				<xs:all>
					<xs:element name="destination_city" type="xsd:string"/>
					<xs:element name="origin_city" type="xsd:string"/>
					<xs:element name="price" type="xsd:string"/>
					<xs:element name="departure" type="xsd:string"/>
				</xs:all>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="searchRequest">
		<wsdl:part name="name" type="xs:string"/>
	</wsdl:message>
	<wsdl:message name="searchResponse">
		<wsdl:part name="fares" type="tns:fares"/>
	</wsdl:message>
	<wsdl:portType name="calcP">
		<wsdl:operation name="Search">
			<wsdl:input message="searchRequest"/>
			<wsdl:output message="searchResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="calcB" type="calcP">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="Search">
			<soap:operation soapAction="Search"/>
			<wsdl:input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="FlightService">
		<wsdl:port binding="calcB" name="fares">
			<soap:address location="http://127.0.0.1:8000/wsdl"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>