weather.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="weatherwsdl" targetNamespace="http://127.0.0.1:3001/wsdl" 
  xmlns="http://127.0.0.1:3001/wsdl" 
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xs:schema xmlns="http://www.w3.org/2000/10/XMLSchema">
      <xs:complexType name="weather">
        <xs:all>
          <xs:element name="temperature" type="xsd:string"/>
          <xs:element name="humidity" type="xsd:string"/>
        </xs:all>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="searchRequest">
    <wsdl:part name="city" type="xs:string"/>
    <wsdl:part name="date" type="xs:string"/>
  </wsdl:message>
  <wsdl:message name="searchResponse">
    <wsdl:part name="temperature" type="tns:weather"/>
    <wsdl:part name="humidity" type="tns:weather"/>
  </wsdl:message>
  <wsdl:portType name="calcP">
    <wsdl:operation name="Search">
      <wsdl:input message="searchRequest"/>
      <wsdl:output message="searchResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="calcB" type="calcP">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Search">
      <soap:operation soapAction="Search"/>
      <wsdl:input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="weatherZone">
    <wsdl:port binding="calcB" name="weatherPort">
      <soap:address location="http://127.0.0.1:3001/wsdl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
