GDS_Service/services.wadl

<application 
	xmlns="http://wadl.dev.java.net/2009/02" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:hy="http://www.herongyang.com/Service">
	<doc xml:lang="en" />
	<resources base="http://127.0.0.1:3000/">
		<resource path="/api/search">
			<method name="GET">
				<request>
					<param name="origin" type="xsd:string" style="query"/>
					<param name="destination" type="xsd:string" style="query"/>
					<param name="departure_date" type="xsd:string" style="query"/>
					<param name="return_date" type="xsd:string" style="query"/>
					<param name="adults" type="xsd:string" style="query"/>
					<param name="children" type="xsd:string" style="query"/>
					<param name="babies1" type="xsd:string" style="query"/>
				</request>
				<response status="200">
					<representation mediaType="application/json" />
				</response>
				<response status="404">
					<representation mediaType="text/html" />
				</response>
				<response status="500">
					<representation mediaType="text/html" />
				</response>
			</method>
		</resource>
		<resource path="/api/reserva">
			<method name="GET">
				<request/>
				<response status="200">
					<representation mediaType="application/json" />
				</response>
				<response status="404">
					<representation mediaType="text/html" />
				</response>
				<response status="500">
					<representation mediaType="text/html" />
				</response>
			</method>
			<method name="POST">
				<request/>
				<response status="200">
					<representation mediaType="application/json" />
				</response>
				<response status="404">
					<representation mediaType="text/html" />
				</response>
				<response status="500">
					<representation mediaType="text/html" />
				</response>
			</method>			
		</resource>
		<resource path="/api/reserva/{reserva_id}">			
			<method name="PUT">
				<request/>
				<response status="200">
					<representation mediaType="application/json" />
				</response>
				<response status="404">
					<representation mediaType="text/html" />
				</response>
				<response status="500">
					<representation mediaType="text/html" />
				</response>
			</method>
			<method name="DELETE">
				<request/>
				<response status="200">
					<representation mediaType="application/json" />
				</response>
				<response status="404">
					<representation mediaType="text/html" />
				</response>
				<response status="500">
					<representation mediaType="text/html" />
				</response>
			</method>
		</resource>
	</resources>
</application>